@charset "UTF-8";


* {
  box-sizing: border-box;
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  src: url("/fonts/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 500;
  src: url("/fonts/IBMPlexSans-Medium.ttf");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 700;
  src: url("/fonts/IBMPlexSans-Bold.ttf");
}

body {
  color: #141414;
  font-family: "IBM Plex Sans", serif;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

.warp {
  margin: 0 auto;
  max-width: 1920px;
}


.h-inner {
  margin: 0 auto;
  max-width: 1360px;
}

.cmn-inner {
  margin: 0 auto;
  max-width: 1110px;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.ft-left {
  float: left;
}

.ft-right {
  float: right;
}

li {
  float: left;
}

a {
  display: inline-block;
  color: #141414;
}

.cmn-btn {
  border: 1px solid #FF8364;
  background-color: #FF8364;
  color: #ffffff;
  font-weight: 700;
}

.cmn-btn:hover {
  background-color: #ffffff;
  color: #FF8364;

}

.cmn-title {
  font-size: 40px;
  font-weight: 700;
}

.sp {
  display: none;
}

/*mv-sec*/

.menu-toggle {
  display: none;
}

.mv-sec {
  padding: 35px 0 157px 0;
  background-image: url("/img/img_mv_background.jpg");
  background-size: cover;
}


.gnav {
  float: right;
  margin-top: 13px;
  font-size: 16px;
  font-weight: 700;
}

.gnav ul {
  float: left;
}

.gnav li {
  margin-right: 61px;
}

.gnav li a {
  padding: 10px 0;
}

.gnav .cmn-btn {
  padding: 9px 27px;
  font-size: 14px;
  border-radius: 4px;
}

.gnav a:hover {
  opacity: 0.8;
}

.mv-banner {
  margin-top: 108px;
  text-align: center;
}

.mv-title {
  line-height: 72px;
  margin-top: 42px;
  font-size: 64px;
  font-weight: 500;
}

.mv-text {
  line-height: 30px;
  margin-top: 13px;
  color: #EFEFEF;
  font-size: 20px;
  font-weight: 400;
}

.mv-banner .cmn-btn {
  margin-top: 26px;
  padding: 10px 42px;
  font-size: 18px;
  border-radius: 8px;
}

/*second-section*/

.second-sec {
  padding: 112px 0 98px 0;
  background-color: #F3F3F3;
}

.second-blk {
  width: 619px;
}

.second-blk a:hover {
  opacity: 0.8;
}


.second-blk p {
  line-height: 50px;
  margin-top: 35px;
  font-size: 36px;
  font-weight: 400;
}


.second-blk-link {
  position: relative;
  margin-top: 33px;
  padding-right: 31px;
  color: #FF8364;
  font-size: 16px;
  font-weight: 700;
}


.second-blk-link::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 13.33px;
  height: 13.33px;
  background: url("/img/ico_arrow.png");
  content: "";
}

.second-blk-img {
  margin-top: 26px;
}

/*third-sec*/

.third-sec {
  padding: 90px 0 70px 0;
  border-bottom: 1px solid #D9D9D9;
}

.third-blk {
  margin-right: 40px;
  margin-left: 40px;
  text-align: center;

}

.third-blk ul {
  padding-left: 39px;
}

.third-blk h3 {
  margin-top: 10px;
  color: #FF8364;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.third-blk ul {
  margin-top: 72px;
}

.third-blk li {
  position: relative;
  width: 46%;
  line-height: 26px;
  margin-right: 74px;
  margin-bottom: 35px;
  padding-left: 65px;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

.third-blk ul li:nth-child(2n) {
  margin-right: 0;
}


.third-blk li::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: url("/img/ico_star.png");
  content: "";
}

/*fourth-sec*/

.fourth-sec {
  padding-top: 87px;
  padding-bottom: 82px;
}

.fourth-blk {
  text-align: center;
}

.fourth-blk .cmn-title {
  margin-bottom: 49px;
}



.fourth-blk li {
  width: 22.9%;
  margin-right: 2.8%;
  background-color: #F3F3F3;
  border-radius: 8px;

}

.fourth-blk li:nth-child(4n) {
  margin-right: 0;
}

.fourth-blk p {
  margin-top: 38px;
  color: #616161;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.fourth-blk h3 {
  margin-top: 6px;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 700;
}


/*fifth-sec*/

.fifth-sec {
  padding: 85px 0 80px 0;
  background-color: #FCFCFC;
  text-align: center;
}



.fifth-blk .cmn-title {
  margin-bottom: 56px;
}

.fifth-blk li {
  width: 31.4%;
  margin-right: 2.9%;
}

.fifth-blk li:last-child {
  margin-right: 0;
}

.fifth-blk p {
  line-height: 30px;
  margin-top: 22px;
  margin-bottom: 46px;
  color: #616161;
  font-size: 18px;
  font-weight: 400;
}

.fifth-blk h3 {
  position: relative;
  margin-bottom: 7px;
  padding-top: 18px;
  font-size: 20px;
  font-weight: 700;
}

.fifth-blk h3::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 65px;
  margin: 0 auto;
  content: "";

  border-top: 4px solid #FF8364;
}

.fifth-blk span {
  color: #616161;
  font-size: 16px;
  font-weight: 400;
}

/*feedback-sec*/

.feedback-sec {
  padding: 102px 0 96px;
}

iframe {
  width: 605px;
  height: 490px;
  border: 0;
  border-radius: 8px;
}

.map-blk {
  position: relative;
}

.contact-blk {
  position: absolute;
  right: 0;
  bottom: 35px;
  left: 0;
  width: 545px;
  margin: 0 auto;
  padding: 32px 30px;
  background-color: #FFFFFF;
  border-radius: 8px;

}

.contact-blk ul {
  float: left;
  width: 225px;
  margin-right: 35px;
}

.contact-blk ul:nth-child(2n) {
  margin-right: 0;
}

.contact-ttl {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 700;
}

.contact-blk p {
  line-height: 24px;
  color: #616161;
  font-size: 16px;
  font-weight: 400;
}

.contact-blk li {
  margin-bottom: 24px;
}

.contact-blk li:last-child {
  margin-bottom: 0;
}

.contact-blk .mail {
  color: #FF8364;
  font-size: 16px;
  font-weight: 400;
}

.contact-blk .phone {
  color: #616161;
  font-size: 16px;
  font-weight: 400;
  pointer-events: none;
}


.form-blk {
  width: 445px;

}

.form-blk .cmn-title {
  margin-top: 15px;
  font-size: 36px;
  font-weight: 500;
}

.form-blk p {
  line-height: 24px;
  margin: 5px 0 32px;
  color: #616161;
  font-size: 16px;
  font-weight: 400;
}

.form-blk input {
  color: #616161;
  font-family: "IBM Plex Sans", serif;
  font-size: 16px;
  font-weight: 400;
}

.cmn-input {
  width: 313px;
  margin-bottom: 29px;
  padding: 8px 21px;
  background-color: #F3F3F3;
  border-radius: 8px;
  border-style: none;
}

.form-blk .cmn-btn {
  padding: 12px 46px;
  font-size: 18px;
  border-radius: 8px;
}

/*footer*/

.footer-sec {
  padding-top: 71px;
  padding-bottom: 71px;
  border-top: 1px solid #D9D9D9;
}

.footer-sec p {
  line-height: 18px;
  margin-top: 30px;
  color: #616161;
  font-size: 12px;
  font-weight: 400;
}

.footer-ttl {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
}

.footer-blk {
  float: right;
}

.category {
  float: left;
  width: 160px;
  margin-right: 30px;
  padding-top: 7px;
}

.category:last-child {
  margin-right: 0;
}

.category li {
  float: none;
  margin-bottom: 18px;
}


.category li a {
  color: #616161;
  font-size: 16px;
  font-weight: 400;
}


/*ipad*/

@media screen and (min-width:768px) and (max-width:1100px) {

  .cmn-title {
    font-size: 5.208vw;
  }

  .header {
    position: fixed;
    width: 100%;
  }

  .gnav {
    position: fixed;
    top: -100%;
    right: 0;
    float: right;
    z-index: -999;
    width: 100%;
    margin-top: 0;
    padding-top: 9.115vw;
    padding-bottom: 4.688vw;
    background-color: #FFFFFF;
    font-size: 2.083vw;
    font-weight: 700;
    text-align: center;
    opacity: 90%;

  }

  .gnav ul {
    float: none;
  }

  .gnav li {
    width: 100%;
    margin-top: 3.906vw;
    margin-right: 0;
  }

  .gnav li a {
    padding: 0;
  }

  .gnav .cmn-btn {
    float: none;
    margin-top: 2.995vw;
    padding: 1.172vw 3.516vw;
    font-size: 1.823vw;
    border-radius: 0.521vw;
  }


  .menu-toggle {
    display: block;
    position: fixed;
    top: 6.771vw;
    right: 10.938vw;
    cursor: pointer;
  }

  .bar1,
  .bar2,
  .bar3 {
    position: absolute;
    width: 5.469vw;
    height: 0.391vw;
    background: #141414;
    transition: 0.3s;
    border-radius: 0.521vw;
  }

  .bar1 {
    transform: translateY(-1.953vw);
  }

  .bar3 {
    transform: translateY(1.953vw);
  }

  .open .bar1 {
    width: 5.208vw;
    transform: translateY(0vw) rotate(225deg);
    transition-delay: 0.3s;
  }

  .open .bar2 {
    transition-delay: 0.3s;
    opacity: 0;
  }

  .open .bar3 {
    width: 5.208vw;
    transform: translateY(0vw) rotate(-225deg);
    transition-delay: 0.3s;

  }


  .cmn-inner,
  .h-inner {
    width: 100%;
    padding: 0 5.208vw;
    max-width: 100%;
  }

  .mv-sec {
    padding: 4.557vw 0 15.234vw 0;
  }

  .mv-banner {
    margin-top: 21.484vw;
  }

  .mv-title {
    line-height: 9.375vw;
    margin-top: 5.469vw;
    font-size: 8.333vw;
  }

  .mv-text {
    line-height: 3.906vw;
    margin-top: 1.693vw;
    font-size: 2.604vw;
  }

  .mv-banner .cmn-btn {
    margin-top: 3.385vw;
    padding: 1.302vw 5.469vw;
    font-size: 2.344vw;
    border-radius: 1.042vw;
  }



  /*second-sec*/

  .second-sec {
    padding: 11.083vw 0 10.286vw 0;
  }

  .second-blk p {
    float: none;
    line-height: 6.51vw;
    margin-top: 4.557vw;
    font-size: 4.688vw;
  }

  .second-blk {
    float: none;
    width: 100%;
  }

  .second-blk-link {
    margin-top: 3.906vw;
    padding-right: 4.036vw;
    font-size: 2.083vw;
  }


  .second-blk-link::after {
    width: 1.736vw;
    height: 1.736vw;
  }

  .second-blk-img {
    float: none;
    margin-top: 9.115vw;
    text-align: center;
    border-radius: 3.776vw;
  }

  .second-blk-img img {
    width: 72.396vw;
    height: 44.792vw;
  }

  /*third-sec*/

  .third-sec {
    padding: 11.719vw 0 3.516vw 0;
  }

  .third-blk {
    margin: 0;

  }

  .third-blk h3 {
    margin-top: 1.302vw;
    font-size: 3.255vw;
    letter-spacing: 0.13vw;
  }

  .third-blk ul {
    margin-top: 7.813vw;
    padding-left: 0;
  }

  .third-blk li {
    width: 100%;
    line-height: 3.385vw;
    padding-left: 8.464vw;
    font-size: 2.604vw;
  }

  .third-blk li {
    margin-bottom: 5.859vw;
  }

  .third-blk li::before {
    width: 5.208vw;
    height: 5.208vw;
  }

  /*fourth-sec*/

  .fourth-sec {
    padding-top: 11.328vw;
    padding-bottom: 0.391vw;
  }


  .fourth-blk .cmn-title {
    margin-bottom: 6.38vw;
  }

  .fourth-blk {
    padding: 0 6vw 4.75vw 9vw;
  }

  .fourth-blk li {
    width: 33.2vw;
    margin-right: 5.2vw;
    margin-bottom: 5.2vw;
    border-radius: 1.042vw;

  }

  .fourth-blk li:nth-child(2n) {
    margin-right: 0;
  }

  .fourth-blk p {
    margin-top: 4.948vw;
    font-size: 1.563vw;
  }

  .fourth-blk .cmn-title {
    margin-right: 2.474vw;
    margin-bottom: 4.557vw;
  }

  .fourth-blk li img {
    width: 100%;
    object-fit: cover;
  }

  .fourth-blk h3 {
    margin-top: 0.781vw;
    margin-bottom: 4.167vw;
    font-size: 2.083vw;
  }


  /*fifth-sec*/

  .fifth-sec {
    padding: 11.458vw 0 3.017vw 0;

  }



  .fifth-blk .cmn-title {
    margin-bottom: 4.688vw;
  }

  .fifth-blk li {
    width: 50%;
    margin-right: 0;
    margin-bottom: 6.51vw;
  }

  .fifth-blk li:last-child {
    margin-right: 7.68px;
  }

  .fifth-blk p {
    line-height: 3.906vw;
    margin-top: 2.865vw;
    margin-bottom: 5.99vw;
    font-size: 2.344vw;

  }

  .fifth-blk h3 {
    margin-bottom: 0.911vw;
    padding-top: 2.344vw;
    font-size: 2.604vw;

  }

  .fifth-blk h3::before {
    width: 8.464vw;
  }

  .fifth-blk span {
    font-size: 2.083vw;
  }



  /*feedback-sec*/

  .feedback-sec {
    padding: 11.719vw 0 9.896vw;
  }

  iframe {
    width: 44.776vw;
    height: 63.702vw;
    border-radius: 1.042vw;
  }


  .contact-blk {
    bottom: 2.927vw;
    width: 39.764vw;
    padding: 13px 2.606vw;
    border-radius: 1.042vw;

  }

  .contact-blk ul {
    width: 100%;
    margin-right: 0;
  }

  .contact-blk ul:nth-child(2n) {
    margin-top: 2.6vw;
  }

  .contact-ttl {
    margin-bottom: 0.521vw;
    font-size: 1.563vw;
  }

  .contact-blk p {
    line-height: 3.125vw;
    font-size: 2.083vw;
  }

  .contact-blk li {
    float: none;
    margin-bottom: 3.125vw;
  }


  .contact-blk .mail {
    font-size: 2.083vw;
  }

  .contact-blk .phone {
    font-size: 2.083vw;
  }


  .form-blk {
    width: 42.143vw;

  }

  .form-blk .cmn-title {
    margin-top: 3.125vw;
    font-size: 4.688vw;
  }

  .form-blk p {
    line-height: 3.125vw;
    margin: 0.651vw 0 3.646vw;
    font-size: 2.083vw;
  }

  .form-blk input {

    font-size: 2.083vw;
  }

  .cmn-input {
    width: 40.755vw;
    margin-bottom: 3.906vw;
    padding: 1.042vw 2.734vw;
    border-radius: 1.042vw;
  }

  .form-blk .cmn-btn {
    padding: 1.563vw 5.99vw;
    font-size: 2.344vw;
    border-radius: 1.042vw;
  }

  /*footer*/
  .footer-sec {
    padding-top: 9.245vw;

  }

  .footer-sec p {
    line-height: 2.344vw;
    margin-top: 3.906vw;
    font-size: 1.563vw;
  }

  .footer-ttl {
    margin-bottom: 1.563vw;
    font-size: 2.604vw;
  }

  .footer-blk {
    float: right;
    width: 44.9vw;
    margin: 0.911vw 0;
  }

  .category {
    float: left;
    width: 15vw;
    margin-right: 9.766vw;
    margin-bottom: 2.734vw;
    padding-top: 0;
  }

  .category:nth-child(2n) {
    margin-right: 0;
  }

  .category li {
    margin-bottom: 2.344vw;
  }

  .contact-blk li:last-child {
    margin-bottom: 0px;
  }


  .category li a {
    font-size: 2.083vw;
  }
}

/*ipad*/


@media screen and (max-width:767.9px) {

  .cmn-title {
    font-size: 6.25vw;

  }

  .header {
    position: fixed;
    z-index: 999;
    width: 100%;
  }

  .gnav {
    position: fixed;
    top: -100%;
    right: 0;
    float: right;
    z-index: -999;
    width: 100%;
    margin-top: 0;
    padding-top: 11.406vw;
    padding-bottom: 5.625vw;
    background-color: #FFFFFF;
    font-size: 2.5vw;
    font-weight: 700;
    text-align: center;
    opacity: 90%;

  }

  .gnav ul {
    float: none;
  }

  .gnav li {
    width: 100%;
    margin-top: 4.688vw;
    margin-right: 0;
  }

  .gnav li a {
    padding: 0;
  }

  .gnav .cmn-btn {
    float: none;
    margin-top: 3.594vw;
    padding: 1.406vw 4.219vw;
    font-size: 2.188vw;
    border-radius: 0.625vw;
  }


  .menu-toggle {
    display: inline-block;
    position: fixed;
    top: 52px;
    right: 84px;
    cursor: pointer;
  }

  .bar1,
  .bar2,
  .bar3 {
    position: absolute;
    width: 6.563vw;
    height: 0.469vw;
    background: #141414;
    transition: 0.3s;
    border-radius: 0.625vw;
  }

  .bar1 {
    transform: translateY(-2.344vw);
  }

  .bar3 {
    transform: translateY(2.344vw);
  }

  .open .bar1 {
    width: 6.25vw;
    transform: translateY(0vw) rotate(225deg);
    transition-delay: 0.3s;
  }

  .open .bar2 {
    transition-delay: 0.3s;
    opacity: 0;
  }

  .open .bar3 {
    width: 6.25vw;
    transform: translateY(0vw) rotate(-225deg);
    transition-delay: 0.3s;

  }


  .cmn-inner,
  .h-inner {
    width: 100%;
    padding: 0 4.688vw;
    max-width: 100%;
  }

  .sp {
    display: block;
  }

  .pc {
    display: none;
  }

  .header-logo {
    max-width: 32.656vw;
  }

  .mv-sec {
    padding: 6.25vw 0 14.063vw 0;
  }

  .mv-banner {
    margin-top: 21.875vw;
  }

  .mv-title {
    line-height: 9.375vw;
    margin-top: 2.656vw;
    font-size: 7.031vw;
  }

  .mv-text {
    line-height: 4.687vw;
    margin-top: 2.656vw;
    font-size: 2.813vw;
  }

  .mv-banner .cmn-btn {
    margin-top: 3.125vw;
    padding: 1.562vw 6.563vw;
    font-size: 2.813vw;
    border-radius: 1.25vw;
  }

  /*second-sec*/

  .second-sec {
    padding: 6.25vw 0 10vw 0;
  }

  .second-blk p {
    line-height: 7.812vw;
    margin-top: 4.531vw;
    font-size: 3.906vw;
  }

  .second-blk {
    float: none;
  }

  .second-blk-link {
    margin-top: 1.563vw;
    padding-right: 4.843vw;
    font-size: 2.5vw;
  }


  .second-blk-link::after {
    width: 2.083vw;
    height: 2.083vw;
  }

  .second-blk-img {
    float: none;
    margin-top: 8.438vw;
    text-align: center;
    border-radius: 4.531vw;
  }

  .second-blk-img img {
    width: 86.875vw;
    height: 53.75vw;
  }

  /*third-sec*/

  .third-sec {
    padding: 10vw 0 22px 0;
  }

  .third-blk {
    margin: 0;

  }

  .third-blk h3 {
    margin-top: 3.125vw;
    font-size: 3.906vw;
    letter-spacing: 0.156vw;
  }

  .third-blk ul {
    margin-top: 9.688vw;
    padding-left: 0;
  }

  .third-blk li {
    width: 100%;
    line-height: 3.125vw;
    padding-left: 10.157vw;
    font-size: 2.813vw;
  }

  .third-blk li {
    margin-bottom: 7.813vw;
  }

  .third-blk li::before {
    width: 6.25vw;
    height: 6.25vw;
  }

  /*fourth-sec*/

  .fourth-sec {
    padding-top: 4.688vw;
    padding-bottom: 2.344vw;
  }


  .fourth-blk .cmn-title {
    margin-bottom: 5.469vw;
  }

  .fourth-blk {
    padding: 5.625vw 1.563vw 3.125vw 2.344vw;
  }


  .fourth-blk li:nth-child(2n) {
    margin-right: 0;
  }

  .fourth-blk li {
    width: 46%;
    margin-right: 6.25vw;
    margin-bottom: 6.45vw;
    border-radius: 1.25vw;
  }

  .fourth-blk li img {
    width: 100%;
    object-fit: cover;
  }

  .fourth-blk p {
    margin-top: 5.938vw;
    font-size: 1.875vw;
  }

  .fourth-blk h3 {
    margin-top: 0.781vw;
    margin-bottom: 5vw;
    font-size: 2.5vw;

  }

  /*fifth-sec*/

  .fifth-sec {
    padding: 8.125vw 0 5px 0;
  }

  .fifth-blk {
    padding-bottom: 0vw;
    padding-left: 0vw;
  }

  .fifth-blk .cmn-title {
    margin-bottom: 35px;
  }


  .fifth-blk li {
    width: 68.75vw;
    height: auto;
    margin-bottom: 8.906vw;
    margin-left: 10.938vw;
  }


  .fifth-blk p {
    line-height: 4.688vw;
    margin-top: 3.906vw;
    margin-bottom: 5.469vw;
    font-size: 2.813vw;
  }

  .fifth-blk h3 {
    margin-bottom: 1.094vw;
    padding-top: 2.813vw;
    font-size: 3.125vw;
  }

  .fifth-blk h3::before {
    width: 10.156vw;
    border-top: 0.625vw solid #FF8364;
  }

  .fifth-blk span {
    font-size: 2.5vw;
  }




  /*feedback-sec*/

  .feedback-sec {
    padding: 9.531vw 0 12.344vw;
  }

  iframe {
    width: 89.063vw;
    height: 53.594vw;
    margin: 0 auto;
    border-radius: 1.25vw;
  }

  .map-blk {
    float: none;
  }

  .contact-blk {
    bottom: 2.5vw;
    width: 82.031vw;
    padding: 3.438vw 1.8vw 3.438vw 4.294vw;
    border-radius: 1.25vw;
  }

  .contact-ttl {
    margin-bottom: 0.625vw;
    font-size: 1.875vw;
  }

  .contact-blk p {
    line-height: 3.75vw;
    font-size: 2.5vw;
  }

  .contact-blk ul {
    float: left;
    width: 35.156vw;
    margin-right: 5.625vw;
  }

  .contact-blk li {
    width: 100%;
    margin-right: 0vw;
    margin-bottom: 1.563vw;
  }

  .contact-blk .mail {
    font-size: 2.5vw;
  }

  .contact-blk a {

    font-size: 2.5vw;

  }

  .form-blk {
    float: none;
    width: 100%;
    margin-right: 0vw;

  }


  .form-blk .cmn-title {
    margin-top: 5vw;
    font-size: 5.625vw;

  }

  .form-blk p {
    line-height: 3.75vw;
    margin: 0.781vw 0 4.688vw;
    font-size: 2.5vw;

  }

  .form-blk input {

    font-size: 2.5vw;

  }

  .form-blk .cmn-btn {
    display: block;
    padding: 1.875vw 7.188vw;
    font-size: 2.813vw;
    border-radius: 1.25vw;
  }

  .cmn-input {
    width: 48.906vw;
    margin-bottom: 4.531vw;
    padding: 1.25vw 3.281vw;
    border-radius: 1.25vw;

  }



  /*footer*/

  .footer-sec {
    padding-top: 4.531vw;

  }

  .footer-sec p {
    line-height: 2.813vw;
    margin-top: 5.313vw;
    font-size: 1.875vw;
  }

  .footer-ttl {
    font-size: 3.125vw;
  }

  .footer-blk {
    float: right;
    width: 47.656vw;
    margin: 1.394vw 0;
  }

  .category {
    float: left;
    width: 20.313vw;
    margin-right: 5.625vw;
    margin-bottom: 3.438vw;
    padding-top: 0;
  }

  .category:nth-child(2n) {
    margin-right: 0;
  }

  .category li {
    margin-bottom: 2.813vw;
  }

  .contact-blk li:last-child {
    margin-bottom: 0vw;
  }


  .category li a {
    font-size: 2.5vw;
  }

}

/*SP*/