@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  /* box-sizing: border-box; */
  text-decoration: none;
  list-style-type: none;
}

.section-heading {
  color: white;
  font-size: 40px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

}

.section-1 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 550px;
  background-image: url("/img/car.jpg");
  background-size: cover;
}

img {
  width: 100px;

}

h2 {
  border: 3px solid rgb(255, 0, 0);
  color: rgb(0, 4, 255);
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 20px;
  text-transform: uppercase;
}

.navbar {
  width: 100%;
  background-color: black;

}



.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;

}

.navbar ul li {
  position: relative;
}

.navbar ul li a {
  padding: 25px 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}


.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 550px;
  padding-top: 100px;
  background-image: url(/img/untitled-1.jpg);
}

.par-1 {
  padding-top: 100px;
  color: rgb(255, 0, 0);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 10px;
  text-transform: capitalize;

}

.section-3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 580px;
  padding-top: 100px;
  background-color: rgb(255, 47, 130);
}

.par-4 {
  float: left;
  float: right;
  width: 50%;
  box-sizing: border-box;
  background-color: rgb(255, 0, 212);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;

}

.par-2 {
  width: 50%;
  background-color: yellow;


  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;

}

.par-3 {
  float: right;
  clear: both;
  width: 50%;
  background-color: rgb(47, 255, 0);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;

}

.section-4 {
  padding-top: 20px;
}

.bf {
  position: relative;
}

.bf::before {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  content: "";
}

.bf::after {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 15px;
  content: "";
}